html {
      box-sizing: border-box;
    }
    body
    {
       
    }
    .navbarHeader {
        height: 72px;
        width: auto;
        background-color:slategrey;
    }
    .garis {
      margin-top: 400px;
      float: left;
      color: black;
    }
    h6
    {
      font-family: consolas;
      font-size: 12pt;
      margin-left: 20px;
      
      margin-top: 10%;
      color: white;
    }
    .textHeader {
      font-family: consolas;
      font-size: 20pt;
      text-align: left;
      line-height: 40px;
      
      color: white;
    }
    .boxUtama 
    {
  
      margin-left: 5px;
      width: 500px;
      margin-top: -34px;
      position: absolute;
      min-height: 388px;
      
    }
    .textarea {
      background-color: yellow;
      
      border: 1px solid blue;
      color: #606B88;
      padding: 0.5em;
      width: 100%;
      -webkit-transition: all 0.35s ease-in;
    
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    .kontainer {
      position: fixed;
      top: 20%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
    }
    .sending 
    {
      
      
      margin-top: 200px;
      float: right;
      
    }
    .textChat {
      border-radius: 12px;
      border-color:slategray;
      margin-left: 14px;
      margin-top: 200px;
      float: left;
      width: 400px;
      height: 64px;
    }
    .btn {
      background-color: grey;
      border: 1px solid #549EAF;
      color: #549EAF;
      cursor: pointer;
      
      display: inline-block;
      font-family: "consolas";
      font-size: 20px;
      line-height: 43px;
      padding: 0 0.75em;
      text-align: center;
      text-transform: uppercase;
      -webkit-transition: all 0.35s ease-in;
    }
    .btn:hover {
      background-color: #595a5e;
      color: Red;
    }
    .debug {
      bottom: 0;
      position: fixed;
      right: 0;
    }
    .debug__content {
      font-size: 14px;
      max-height: 0;
      overflow: hidden;
      -webkit-transition: all 0.35s ease-in;
    }
    .debug__content.is-active {
      display: block;
      max-height: 500px;
    }
    .debug__btn {
      width: 100%;
    }
    .bot {
      border: 2px yellow;
      border-radius: 21px;
      margin-top: 2px;
      margin-left: 10px;
      float: left;
    }
    .spoken-response {
      max-height: 0;
      overflow: hidden;
      -webkit-transition: all 0.35s ease-in;
      margin-top: 80px;
    }
    .garisLurus {
      border: 1px white;
      height: 44px;
      width: 1px;
      float: left;
      margin-left: 10px; 
    }
    .spoken-response.is-active {
      max-height: 300px;
    }
    .spoken-response__text {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 12pt;
      align-content: center;
      text-align: center; 
      float: left;
      margin-left: 15px;
      margin-top: auto;
      background-color:lawngreen;
      color:white;
      padding: 1em;
      border-radius: 10px;
    }